@model ProductViewer.Models.Izvjestaj

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Izvjestaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProizvodID" class="control-label"></label>
                <select asp-for="ProizvodID" class ="form-control" asp-items="ViewBag.ProizvodID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatumIzvjestaja" class="control-label"></label>
                <input asp-for="DatumIzvjestaja" class="form-control" />
                <span asp-validation-for="DatumIzvjestaja" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NiskaKolicina" /> @Html.DisplayNameFor(model => model.NiskaKolicina)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RokIsteka15Dana" /> @Html.DisplayNameFor(model => model.RokIsteka15Dana)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RokIsteka30Dana" /> @Html.DisplayNameFor(model => model.RokIsteka30Dana)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Napomena" class="control-label"></label>
                <input asp-for="Napomena" class="form-control" />
                <span asp-validation-for="Napomena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
